<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<h2>User Info</h2>
<br>
<form action="#" th:method="POST" th:action="@{/saveUser}" th:object="${user}">

    <!-- Add hidden form field to handle update -->
    <input type="hidden" th:field="*{id}" />


    <p> <label for="name"></label>
        <input type="text" th:field="*{name}" id="name"  placeholder="Name"/>
    </p>
    <p> <label for="lastName"></label>
        <input type="text" th:field="*{lastName}" id="lastName" placeholder="LastName"/>
    </p>
    <p> <label for="age"></label>
        <input type="number" th:field="*{age}" id="age" placeholder="Age"/>
    </p>
    <br>
    <input type="submit" value="OK">

</form>
<hr>
<a th:href = "@{/}">Go back</a>
</body>
</html>